{% extends 'base.html' %}
{%block body_block%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 left">
                <div class="row" style="margin-top: 80px; min-height: 100vh;">
                    <div class="col-12">
    
                        <ol class="list-group mb-3 v1" id="first_left">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="mt-1">
                                    <div>
                                        <input type="checkbox" value="v1" onclick="ajay()" id="test1">
                                    </div>
                                </div>
                              <div class="ms-2 me-auto">
    
                                <div class="fw-bold">Study Django</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                            </li>
                        </ol>
    
                        <ol class="list-group mb-3 v2" id="second_left">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="mt-1">
                                    <div>
                                        <input type="checkbox" value="v2" id="test2">
                                    </div>
                                </div>
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Read book</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                            </li>
                        </ol>
    
                        <ol class="list-group mb-3 v3" id="third_left">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="mt-1">
                                    <div>
                                        <input type="checkbox" value="v3" id="test3">
                                    </div>
                                </div>
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Cycling</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                            </li>
                        </ol>
    
                        <ol class="list-group mb-3 v4" id="fourth_left">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="mt-1">
                                    <div>
                                        <input type="checkbox" value="v4" id="test4">
                                    </div>
                                </div>
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Outing</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>




            <div class="col-6 right">
                <div class="row" style="margin-top: 80px; min-height: 100vh;">
                    <div class="col-12">
                        <ol class="list-group mb-3 v1" id="first_right" style="display: none">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
            
                              <div class="ms-2 me-auto">
            
                                <div class="fw-bold">Study Django</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                              <span class="badge bg-primary rounded-pill">&nbsp&nbsp&nbsp</span>
                            </li>
                        </ol>
            
                        <ol class="list-group mb-3 v2" id="second_right" style="display: none">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Read book</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                              <span class="badge bg-primary rounded-pill">&nbsp&nbsp&nbsp</span>
                            </li>
                        </ol>
            
                        <ol class="list-group mb-3 v3" id="third_right" style="display: none">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                               
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Cycling</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                              <span class="badge bg-primary rounded-pill">&nbsp&nbsp&nbsp</span>
                            </li>
                        </ol>
            
                        <ol class="list-group mb-3 v4" id="fourth_right" style="display: none">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                
                              <div class="ms-2 me-auto">
                                <div class="fw-bold">Outing</div>
                                <p style="font-size: x-small; margin:0;">26/07/2022</p>
                              </div>
                              <div class="me-5 d-flex align-items-center">
                                <div class="mt-1">
                                    <a href="{%url 'todo-details'%}">
                                        <i class="fa-solid fa-arrow-up-right-from-square text-muted"></i>
                                    </a>
                                </div>
                              </div>
                              <span class="badge bg-primary rounded-pill">&nbsp&nbsp&nbsp</span>
                            </li>
                        </ol>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
{%endblock%}